  <!-- Pay attention to margin include in main components -->
  <div class="bg-gradient-to-r from-blue-700 to-[#B06AB3] px-6 py-12 w-full">
    <div class="w-full flex flex-col justify-center items-center text-center">
      <h2 class="text-white sm:text-4xl text-3xl font-bold mb-4">Être visible sur le net</h2>
      <p class="text-white text-base text-center mb-8">
        Concevez la stratégie et les supports de communication qui correspondent à votre entreprise
      </p>
  
      <a href="/contact">
        <button type="button" class="bg-white text-sm text-blue-600 font-semibold py-3 px-6 rounded-lg hover:bg-slate-100">
          Demandez un devis
        </button>
      </a>
    </div>
  </div>
 