---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="bg-gradient-to-r from-blue-800 to-purple-600 px-6 py-12 w-full">
        <div class="w-full flex flex-col justify-center items-center text-center">
          <h2 class="text-white sm:text-4xl text-3xl font-bold mb-4">Être visible sur le net</h2>
          <p class="text-white text-base text-center mb-8">
            Concevez la stratégie et les supports de communication qui correspondent à votre entreprise
          </p>
      
          <a href="/contact">
            <button type="button" class="bg-white text-sm text-blue-600 font-semibold py-3 px-6 rounded-lg hover:bg-slate-100">
              Demandez un devis
            </button>
          </a>
        </div>
    </div>

    <div class="grid mb-8 md:mb-12 md:grid-cols-2 bg-white">
        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-e dark:bg-gray-800 dark:border-gray-700 text-l">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
                <!-- TODO : change color with the right one -->
                <span class="text-purple-500">Modalités</span> de formation
            </h2>
                <p class="mt-4 mb-8 text-md italic">La formation est destinée aux dirigeants, futurs dirigeants (créateurs et repreneurs d’entreprise) et à toutes les personnes souhaitant s’initier aux codes de la communication.</p>
                <!-- TODO : change color -->
                <ul class="text-left text-grey-900 list-disc list-inside dark:text-gray-400 text-l">
                <li class="mb-4">
                    <span class="text-purple-500 font-bold">Prérequis : </span> Aucun prérequis spécifique n'est nécessaire.
                </li>
                <li class="mb-4">
                    <span class="text-purple-500 font-bold">Durée de la formation : </span> entre 4h et 24h (réparties de 1 à 4 jours)
                </li>
                <li class="mb-4">
                    <span class="text-purple-500 font-bold">Tarif : </span> 600€ HT/personne (prix à titre indicatif pour une session de formation de 4h. A définir en fonction du nombre de participants et de la nature de la prestation)
                </li>
            </ul>
            </blockquote>   
        </figure>
        
        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
                <!-- TODO : change color with the right one -->
                La <span class="text-purple-500">formatrice</span>
            </h2>
            </blockquote>
            <img class="rounded-full w-200 h-200" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="Photo du formateur">
            <!-- Just the great version of me 🙄 -->
            <figcaption class="flex items-center justify-center ">
                
                <div class="text-center space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                    <div class="text-purple-500 mt-3 text-xl">Cellya SIROT</div>
                    <div class="text-md text-gray-500 dark:text-gray-400">Couteau-suisse numérique</div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700 text-l">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
                <!-- TODO : change color with the right one -->
                <span class="text-purple-500">Objectifs</span> pédagogiques
            </h2>
                <p class="mt-4 mb-8 text-md italic">Découvrez les savoir-faire et savoir-être que vous développerez tout au long de cette formation.</p>
                <!-- TODO : change color -->
                <ul class="text-left text-grey-900 list-disc list-inside dark:text-gray-400">
                <li class="mb-4">
                    Comprendre le concept de visibilité sur le web, les enjeux de la communication et de la consommation des réseaux sociaux en 2024
                </li>
                <li class="mb-4">
                    Cibler son public, émettre des objectifs de visibilité, choisir ses canaux, planifier organiser ses communications
                </li>
                <li>
                    Apprendre les bases du référencement naturel, choisir les bons outils pour créer son site web, alimenter ses réseaux sociaux en suivant une ligne artistique
                </li>
            </ul>
            </blockquote>   
        </figure>
        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400 text-md">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
            <!-- TODO : change color with the right one -->
            <span class="text-purple-500">Programme</span> de la formation
            </h2>
            <p class="mt-4 mb-8 italic">Explorez le contenu détaillé de notre programme pour atteindre vos objectifs de manière structurée et efficace.</p>
            <!-- TODO : change color -->
            <ul class="text-left text-grey-900 list-disc list-inside dark:text-gray-400">
                <li class="mb-4">
                Appréhender l’ensemble des notions théoriques autour de la communication des bases du web et des réseaux sociaux
                </li>
                <li class="mb-4">
                Comprendre son marché et ses habitudes de consommation afin d’adapter sa stratégie de communication en fonction de son public
                </li>
                <li>
                Mettre en place des tableaux de bord avec les outils les plus pertinents selon votre besoin.
                </li>
            </ul>
        </blockquote>   
    </figure>
    
        
    </div>
</Layout>