---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="bg-gradient-to-r from-blue-800 to-purple-600 px-6 py-12 w-full">
    <div class="w-full flex flex-col justify-center items-center text-center">
      <h2 class="text-white sm:text-4xl text-3xl font-bold mb-4">
        Je me lance - Accompagnement à la création, reprise d’entreprise ou prise d’une fonction de management
      </h2>
      <p class="text-white text-base text-center mb-8">
        Apprenez et renforcez vos connaissances entrepreneuriales et managériales.
      </p>

      <a
        href="/contact"
        class="relative inline-block font-semibold py-3 px-8 border-2 border-white text-white rounded-full transition-all duration-500 group hover:bg-white hover:text-purple-800 drop-shadow-lg transform hover:scale-105"
      >
        <span>Demandez un devis</span>
        <span class="ml-2 group-hover:translate-x-1 transition-transform"
          >→</span
        >
      </a>
    </div>
  </div>

  <div class="grid mb-8 md:mb-12 md:grid-cols-2 bg-white">
    <figure
      class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-e dark:bg-gray-800 dark:border-gray-700 text-l"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
          <!-- TODO : change color with the right one -->
          <span class="text-purple-500">Modalités</span> de formation
        </h2>
        <p class="mt-4 mb-8 text-md italic">
          La formation est destinée ??
        </p>
        <!-- TODO : change color -->
        <ul
          class="text-left text-grey-900 list-disc list-inside dark:text-gray-400 text-l"
        >
          <li class="mb-4">
            <span class="text-purple-500 font-bold">Prérequis : </span> ??
          </li>
          <li class="mb-4">
            <span class="text-purple-500 font-bold"
              >Durée de la formation :
            </span> ??
          </li>
          <li class="mb-4">
            <span class="text-purple-500 font-bold">Tarif : </span> 500 HT/personne
          </li>
        </ul>
      </blockquote>
    </figure>

    <figure
      class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
          <!-- TODO : change color with the right one -->
          Le <span class="text-purple-500">formateur</span>
        </h2>
      </blockquote>
      <img
        class="rounded-full w-200 h-200"
        src=""
        alt="Photo du formateur"
      />
      <!-- Just the great version of me 🙄 -->
      <figcaption class="flex items-center justify-center">
        <div
          class="text-center space-y-0.5 font-medium dark:text-white rtl:text-right ms-3"
        >
          <div class="text-purple-500 mt-3 text-xl">Nom du formateur</div>
          <div class="text-md text-gray-500 dark:text-gray-400">
            titre formateur
          </div>
        </div>
      </figcaption>
    </figure>
    <figure
      class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700 text-l"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
          <!-- TODO : change color with the right one -->
          <span class="text-purple-500">Objectifs</span> pédagogiques
        </h2>
        <p class="mt-4 mb-8 text-md italic">
          Découvrez les savoir-faire et savoir-être que vous développerez tout
          au long de cette formation.
        </p>
        <!-- TODO : change color -->
        <ul
          class="text-left text-grey-900 list-disc list-inside dark:text-gray-400"
        >
          <li class="mb-4">
            ?
          </li>
          <li class="mb-4">
            ?
          </li>
          <li>
            ?
          </li>
        </ul>
      </blockquote>
    </figure>
    <figure
      class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400 text-md"
      >
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
          <!-- TODO : change color with the right one -->
          <span class="text-purple-500">Programme</span> de la formation
        </h2>
        <p class="mt-4 mb-8 italic">
          Explorez le contenu détaillé de notre programme pour atteindre vos
          objectifs de manière structurée et efficace.
        </p>
        <!-- TODO : change color -->
        <ul
          class="text-left text-grey-900 list-disc list-inside dark:text-gray-400"
        >
          <li class="mb-4">
            ?
          </li>
          <li class="mb-4">
            ?
          </li>
          <li>
            ?
          </li>
        </ul>
      </blockquote>
    </figure>
  </div>
</Layout>
