---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="bg-white py-12">
    <div class="container mx-auto px-6">
      <h1 class="text-3xl font-bold text-gray-900 mb-8">
        Conditions Générales d'Utilisation
      </h1>

      <!-- Introduction -->
      <p class="mb-8">
        Le site internet <a
          href="https://www.kaelia-formacoach.com"
          class="hover:underline">www.kaelia-formacoach.com</a
        > (ci-après le « Site Internet ») est un site non-marchand ayant pour objet
        de présenter les activités de la SAS KAELIA FORMA’COACH en France et à l’international.
        Ce site est à vocation non marchande.
      </p>
      <p class="mb-8">
        L’« Utilisateur » s’entend comme toute personne accédant à la navigation
        sur ce Site. Tout utilisateur disposant d’un accès internet est en
        mesure d’y accéder gratuitement. Chaque utilisateur devant supporter
        seul les frais matériels, logiciels ou d’accès à internet lui permettant
        d’accéder et d’utiliser le Site Internet.
      </p>

      <!-- ARTICLE 1 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">
          ARTICLE 1 : ACCEPTATION ET MODIFICATION DES CONDITIONS GÉNÉRALES
          D’UTILISATION
        </h2>
        <p>
          L’acceptation et le respect par l’utilisateur des présentes conditions
          générales d’utilisation est nécessaire pour accéder et utiliser le
          Site Internet, quel que soit l’objet de sa visite. Tout utilisateur
          qui visite ou utilise le Site Internet sera présumé comme ayant lu,
          compris et accepté pleinement les présentes conditions générales
          d’utilisation, sans restriction, ni réserves.
        </p>
        <p class="mt-4">
          La modification ainsi que la mise à jour des présentes conditions
          générales d’utilisation pourront être opérées à tout moment et sans
          préavis par KAELIA FORMA’COACH. Les conditions générales
          d’utilisations qui s’appliqueront seront celles en vigueur au moment
          de l’utilisation du Site Internet par tout utilisateur.
        </p>
      </div>

      <!-- ARTICLE 2 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">
          ARTICLE 2 : INFORMATIONS ET SPÉCIFICITÉS TECHNIQUES
        </h2>
        <p>
          Le Site Internet est accessible tous 24h/24 et 7 jours / 7 et ce, sans
          interruption, sauf cas de force majeure ou s’il survient un évènement
          sur lequel KAELIA FORMA’COACH n’exerce aucun contrôle. Le Site
          Internet peut également être inaccessible en cas d’interruption, de
          suspension ou de limitation à la suite à d'opérations de maintenance
          et de mises à jour afin de maintenir un bon fonctionnement du Site
          Internet ou pour tout autre raison (notamment technique).
        </p>
      </div>

      <!-- ARTICLE 3 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">
          ARTICLE 3 : PROPRIÉTÉ INTELLECTUELLE
        </h2>
        <p>
          Les droits de propriété intellectuelle (droits d’auteur, droit sur les
          marques, brevets, dessins et modèles, bases de données, noms de
          domaine et tout droit de propriété intellectuelle actuel ou futur,
          existant tant en France qu’à l’international) protègent l’ensemble du
          Site Internet ainsi que tous les éléments qui le composent. KAELIA
          FORMA’COACH détient l’ensemble de ces droits ou a obtenu
          l’autorisation de les exploiter auprès des tiers auxquels ils
          appartiennent.
        </p>
      </div>

      <!-- ARTICLE 4 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">
          ARTICLE 4 : LIENS HYPERTEXTES VERS DES SITES INTERNET TIERS
        </h2>
        <p>
          Les présentes conditions générales d’utilisation ne régissent pas les
          sites internet tiers accessibles via des liens hypertextes présents
          sur le Site Internet. KAELIA FORMA’COACH vous invite donc à vous
          diriger vers les règles d’utilisation applicables à ces sites
          directement sur ceux-ci.
        </p>
      </div>

      <!-- ARTICLE 5 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">
          ARTICLE 5 : DONNÉES PERSONNELLES
        </h2>
        <p>
          Dans un souci de protection des données personnelles, KAELIA
          FORMA’COACH s’engage à respecter la protection des données
          personnelles conformément à la règlementation en vigueur. A cet égard,
          une politique de confidentialité des données personnelles, accessible
          en cliquant <a
            href="/politique-confidentialite"
            class="hover:underline">ici</a
          >, a été mise en place.
        </p>
      </div>

      <!-- ARTICLE 6 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">
          ARTICLE 6 : LOI APPLICABLE
        </h2>
        <p>
          La loi française s’appliquera de manière exclusive aux présentes
          conditions générales d’utilisation.
        </p>
      </div>
    </div>
  </section>
</Layout>
