---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Formation</h1>
 
    

<div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <!-- TODO : change with colors in the color palette -->
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
        Les <span class="text-purple-500">modalités</span> de la formation
      </h2>
      <span class="mb-2 text-sm text-gray-500 dark:text-gray-400">
        La formation est destinée aux dirigeants, futurs dirigeants (créateurs et repreneurs d’entreprise) et à toutes les personnes souhaitant s’initier aux codes de la communication.
      </span>
    </blockquote>
  <!-- TODO : align left all figcaption (sorry i'm a little bit too lazy and you're the Benj in the team 😘 ) + change colors with the one in the color palette -->
    <figcaption class="flex items-center justify-start text-left">
      <img class="rounded-full w-9 h-9" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/leaf.png" alt="prérequis">
      <div class="space-y-0.5 font-medium dark:text-white text-left ms-3">
        <div class="text-purple-800">Prérequis</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">Aucun prérequis spécifique n'est nécessaire.</div>
      </div>
    </figcaption>
  
    <figcaption class="flex items-center justify-start text-left mt-8">
      <img class="rounded-full w-9 h-9" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/leaf.png" alt="durée de la formation">
      <div class="space-y-0.5 font-medium dark:text-white text-left ms-3">
        <div class="text-purple-800">Durée de la formation : entre 4h et 24h</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">La formation est dispensée sur une durée de 4 heures à 24 heures réparties sur 1 à 4 jours.</div>
      </div>
    </figcaption>
  
    <figcaption class="flex items-center justify-start text-left mt-8">
      <img class="rounded-full w-9 h-9" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/leaf.png" alt="tarif">
      <div class="space-y-0.5 font-medium dark:text-white text-left ms-3">
        <div class="text-purple-800">Tarif : 600€ HT/personne</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">Prix à titre indicatif pour une session de formation de 4h. À définir en fonction du nombre de participants et de la nature de la prestation.</div>
      </div>
    </figcaption>
  </figure>
  
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
      <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-3">
          <!-- TODO : change color with the right one -->
          La <span class="text-purple-500">formatrice</span>
        </h2>
      </blockquote>
      <img class="rounded-full w-200 h-200" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="Photo du formateur">
      <!-- Just the great version of me 🙄 -->
      <figcaption class="flex items-center justify-center ">
          
          <div class="text-center space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
              <div class="text-purple-500 mt-3">Cellya SIROT</div>
              <div class="text-sm text-gray-500 dark:text-gray-400">Couteau-suisse numérique</div>
          </div>
      </figcaption>    
  </figure>
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
      <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow</h3>
          <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
      </blockquote>
      <figcaption class="flex items-center justify-center ">
          <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
          <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
              <div>Jese Leos</div>
              <div class="text-sm text-gray-500 dark:text-gray-400">Software Engineer at Facebook</div>
          </div>
      </figcaption>    
  </figure>
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
      <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Efficient Collaborating</h3>
          <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
      </blockquote>
      <figcaption class="flex items-center justify-center ">
          <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
          <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
              <div>Joseph McFall</div>
              <div class="text-sm text-gray-500 dark:text-gray-400">CTO at Google</div>
          </div>
      </figcaption>    
  </figure>

  
</div>



 
  
</Layout>

