---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-gradient-to-r from-blue-800 to-purple-600 px-6 py-12 w-full">
    <div class="w-full flex flex-col justify-center items-center text-center">
      <h2 class="text-white sm:text-4xl text-3xl font-bold mb-4">
        Des professionnels qualifiés pour vous accompagner dans votre projet
      </h2>
      <p class="text-white sm:text-xl text-center mb-8">
        Découvrez une équipe de formateurs passionnés et expérimentés, prêts à
        vous guider vers l'excellence. Chez Kaelia, chaque formateur est un
        expert dans son domaine, engagé à vous offrir des formations de qualité
        adaptées à vos besoins et à vos objectifs. Faites le choix d’un
        accompagnement personnalisé pour développer vos compétences et atteindre
        vos ambitions.
      </p>
      <a href="/contact">
        <button
          type="button"
          class="bg-white text-l text-blue-600 font-semibold py-3 px-6 rounded-lg hover:bg-slate-100"
        >
          Demandez un devis
        </button>
      </a>
    </div>
  </div>

  <div class="bg-white py-12 px-6">
    <!-- Section Title -->
    <div class="text-center mb-8">
      <h2 class="text-2xl font-bold text-gray-900">
        NOTRE EQUIPE DE FORMATEURS
      </h2>
      <p class="text-gray-700 mt-2">
        Utilisez les filtres pour en découvrir davantage sur l'équipe qui vous
        accompagnera tout au long de votre apprentissage
      </p>
    </div>

    <!-- Filters Buttons -->
    <div class="flex flex-wrap justify-center gap-4">
      <button
        class="filter-button bg-purple-900 text-white py-3 px-6 rounded-full hover:bg-purple-700 focus:outline-none active-button"
        data-category="all">Tous</button
      >
      <button
        class="filter-button bg-purple-900 text-white py-3 px-6 rounded-full hover:bg-purple-700 focus:outline-none"
        data-category="Informatique">Informatique</button
      >
      <button
        class="filter-button bg-purple-900 text-white py-3 px-6 rounded-full hover:bg-purple-700 focus:outline-none"
        data-category="RSE">RSE</button
      >
      <button
        class="filter-button bg-purple-900 text-white py-3 px-6 rounded-full hover:bg-purple-700 focus:outline-none"
        data-category="Juridique">Juridique</button
      >
      <button
        class="filter-button bg-purple-900 text-white py-3 px-6 rounded-full hover:bg-purple-700 focus:outline-none"
        data-category="Entreprenariat">Entreprenariat</button
      >
      <button
        class="filter-button bg-purple-900 text-white py-3 px-6 rounded-full hover:bg-purple-700 focus:outline-none"
        data-category="Management">Management</button
      >
    </div>
  </div>

  <!-- Trainers Cards Section -->
  <section class="bg-white py-12">
    <div
      class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8"
      id="trainer-list"
    >
      <!-- Trainer Card 2 -->
      <div
        class="relative bg-white shadow-lg rounded-lg overflow-hidden trainer-card"
        data-category="RSE"
      >
        <img
          src="/images/formateurs/tarik.png"
          loading="lazy"
          alt="Tarik BACHIR"
          class="w-full h-60 object-cover"
        />
        <div
          class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black to-transparent px-4 py-6 text-white"
        >
          <h3 class="font-bold text-xl">Tarik BACHIR</h3>
          <p class="text-sm">Avocat au barreau de Lyon</p>
          <span class="text-sm text-cyan-400">Juridique</span>
        </div>
      </div>
      <!-- Trainer Card 2 -->
      <div
        class="relative bg-white shadow-lg rounded-lg overflow-hidden trainer-card"
        data-category="RSE"
      >
        <img
          src="/images/formateurs/aurelia.png"
          loading="lazy"
          alt="Aurélia SAINT-JEAN"
          class="w-full h-60 object-cover"
        />
        <div
          class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black to-transparent px-4 py-6 text-white"
        >
          <h3 class="font-bold text-xl">Aurélia SAINT-JEAN</h3>
          <p class="text-sm">Coach certifiée</p>
          <span class="text-sm text-blue-400">Coaching</span>
          <span class="text-sm text-purple-400">RSE</span>
        </div>
      </div>
      <!-- Trainer Card 3 -->
      <div
        class="relative bg-white shadow-lg rounded-lg overflow-hidden trainer-card"
        data-category="RSE Coaching"
      >
        <img
          src="/images/formateurs/hayet.png"
          loading="lazy"
          alt="Hayet RHARDA BOUALI"
          class="w-full h-60 object-cover"
        />
        <div
          class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black to-transparent px-4 py-6 text-white"
        >
          <h3 class="font-bold text-xl">Hayet RHARDA BOUALI</h3>
          <p class="text-sm">Coach certifiée</p>
          <span class="text-sm text-blue-400">Coaching</span>
          <span class="text-sm text-purple-400">RSE</span>
        </div>
      </div>
      <!-- Trainer Card 4 -->
      <div
        class="relative bg-white shadow-lg rounded-lg overflow-hidden trainer-card"
        data-category="Informatique"
      >
        <img
          src="/images/formateurs/cellya.jpg"
          loading="lazy"
          alt="Cellya SIROT"
          class="w-full h-60 object-cover"
        />
        <div
          class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black to-transparent px-4 py-6 text-white"
        >
          <h3 class="font-bold text-xl">Cellya SIROT</h3>
          <p class="text-sm">Développeuse web</p>
          <span class="text-sm text-blue-400">Informatique</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Client-side Script -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const buttons = document.querySelectorAll(
        ".filter-button"
      ) as NodeListOf<HTMLElement>;
      const trainers = document.querySelectorAll(
        ".trainer-card"
      ) as NodeListOf<HTMLElement>;

      // Sélectionnez le bouton "Tous" par défaut
      const defaultButton = document.querySelector(
        '.filter-button[data-category="all"]'
      ) as HTMLElement;

      // Ajoutez la classe active au bouton par défaut
      if (defaultButton) {
        defaultButton.classList.add("active-button");
      }

      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const category = button.getAttribute("data-category") ?? "";

          // Retirer la classe active de tous les boutons
          buttons.forEach((btn) => btn.classList.remove("active-button"));

          // Ajouter la classe active au bouton sélectionné
          button.classList.add("active-button");

          // Filtrer les formateurs
          trainers.forEach((trainer) => {
            const trainerCategories =
              trainer.getAttribute("data-category")?.split(" ") ?? [];
            trainer.style.display =
              category === "all" || trainerCategories.includes(category)
                ? "block"
                : "none";
          });
        });
      });

      // Afficher tous les formateurs par défaut
      trainers.forEach((trainer) => {
        trainer.style.display = "block";
      });
    });
  </script>

  <!-- Styles pour les boutons -->
  <style>
    /* Style des boutons par défaut */
    .filter-button {
      transition: transform 0.3s ease;
    }

    /* Style du bouton actif */
    .active-button {
      transform: scale(1.1); /* Agrandir légèrement */
      font-weight: bold; /* Rendre le texte plus gras */
      background-color: #5a31af; /* Couleur personnalisée pour le bouton actif */
    }
  </style>
</Layout>
