---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="bg-white py-12">
    <div class="container mx-auto px-6">
      <h1 class="text-3xl font-bold text-gray-900 mb-8">Mentions Légales</h1>

      <!-- Éditeur Section -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">Éditeur</h2>
        <p>
          Le site <a href="https://www.kaelia-formacoach.com" class="hover:underline">www.kaelia-formacoach.com</a> est édité par KAELIA FORMA’COACH et est la propriété exclusive de :
        </p>
        <p class="mt-4">
          <strong>SAS KAELIA FORMA’COACH</strong><br />
          Immatriculée au RCS de Roanne sous le numéro 953 672 235<br />
          Déclaration d’activité enregistrée sous le numéro 844 204 074 42 auprès du préfet de région Auvergne-Rhône-Alpes<br />
          Exerçant comme KAELIA FORMA’COACH, Société par Actions Simplifiées<br />
          Domicile professionnel : 198 rue des amis de l’industrie – 42590 NEULISE, FRANCE<br />
          Tél. : <a href="tel:+33763773138" class="hover:underline">+33(0)7 63 77 31 38</a><br />
          Mail : <a href="mailto:contact@kaelia-formacoach.com" class="hover:underline">contact@kaelia-formacoach.com</a>
        </p>
      </div>

      <!-- Directeur de la publication Section -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">Directeur de la publication</h2>
        <p>
          <strong>SAS KAELIA FORMA’COACH</strong>
        </p>
      </div>

      <!-- Hébergeur Section -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">Hébergeur</h2>
        <p>
          <strong>IONOS</strong>,<br />
          SARL au capital de 100 000 € – 31 303 775 RCS Sarreguemines<br />
          dont le siège social est situé :<br />
          7, place de la Gare, BP 70109, 57200 Sarreguemines Cedex, FRANCE<br />
          Tél. : <a href="tel:0970808911" class="hover:underline">0970 808 911</a>
        </p>
      </div>
    </div>
  </section>
</Layout>
