---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="bg-white py-12">
    <div class="container mx-auto px-6">
      <h1 class="text-3xl font-bold text-gray-900 mb-8">Politique de Confidentialité</h1>

      <p class="mb-8">
        Dans le cadre de ses activités, la SAS KAELIA FORMA’COACH (ci-après « Site Internet » KAELIA FORMA’COACH) est amenée à mettre en œuvre des traitements de données à caractère personnel dans le cadre de l’exécution de ses missions ou de ses relations avec ses clients ou prospects, incluant les utilisateurs du site internet <a href="https://www.kaelia-formacoach.com" class="hover:underline">www.kaelia-formacoach.com</a>.
      </p>

      <!-- ARTICLE 1 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 1 : RESPONSABLE DU TRAITEMENT</h2>
        <p>
          Le Responsable de Traitement de vos données personnelles est KAELIA FORMA’COACH, Société par Actions Simplifiées immatriculée au RCS de ROANNE sous le numéro 953 672 235, dont l’adresse professionnelle est située au 198 rue des amis de l’industrie, 42590 NEULISE.
        </p>
      </div>

      <!-- ARTICLE 2 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 2 : DONNÉES PERSONNELLES COLLECTÉES</h2>
        <p>
          Nous pouvons collecter différentes catégories de Données Personnelles vous concernant, notamment : données d'identité, données de situation personnelle, données professionnelles, données économiques et financières, données de localisation, données techniques, catégories particulières de données, et données relatives aux condamnations pénales.
        </p>
      </div>

      <!-- ARTICLE 3 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 3 : BASE JURIDIQUE & FINALITÉS DE LA COLLECTE</h2>
        <p>
          Les traitements de Données Personnelles mis en œuvre reposent sur des bases juridiques telles que l'exécution de contrats, l'intérêt légitime de KAELIA FORMA’COACH, et le respect d’obligations légales. Les finalités incluent la gestion de la relation contractuelle, la prospection, la sécurité des locaux, et la défense d’intérêts en justice.
        </p>
      </div>

      <!-- ARTICLE 4 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 4 : DESTINATAIRES DES DONNÉES PERSONNELLES</h2>
        <p>
          Les Données Personnelles traitées sont destinées à KAELIA FORMA’COACH et, selon les missions ou obligations légales, à ses prestataires, autorités publiques, juridictionnelles ou organisations internationales.
        </p>
      </div>

      <!-- ARTICLE 5 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 5 : TRANSFERTS DE DONNÉES PERSONNELLES</h2>
        <p>
          Les Données Personnelles ne sont pas transférées hors de l'Union Européenne, sauf obligation légale ou pour la défense de droits en justice.
        </p>
      </div>

      <!-- ARTICLE 6 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 6 : DURÉE DE CONSERVATION DES DONNÉES PERSONNELLES</h2>
        <p>
          Les Données Personnelles sont conservées pour la durée nécessaire aux finalités du traitement. Par exemple, les données de nos clients sont conservées pendant trois ans après la fin de la relation contractuelle.
        </p>
      </div>

      <!-- ARTICLE 7 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 7 : SÉCURITÉ DES DONNÉES PERSONNELLES</h2>
        <p>
          KAELIA FORMA’COACH met en œuvre des mesures de sécurité pour protéger les Données Personnelles que vous nous communiquez.
        </p>
      </div>

      <!-- ARTICLE 8 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 8 : COOKIES</h2>
        <p>
          Les cookies déposés sur le Site sont utilisés pour assurer son fonctionnement optimal, établir des statistiques et adapter le contenu. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela pourrait limiter votre accès au Site.
        </p>
        <p class="mt-4">
          Pour plus d'informations sur la gestion des cookies, veuillez consulter les instructions sur les sites des navigateurs les plus courants (Microsoft Edge, Mozilla Firefox, Google Chrome, Apple Safari, etc.) ou sur le site de la CNIL <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" class="hover:underline">ici</a>.
        </p>
      </div>

      <!-- ARTICLE 9 -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-purple-800 mb-4">ARTICLE 9 : VOS DROITS</h2>
        <p>
          Conformément à la loi Informatique et Libertés et au règlement européen sur la protection des données, vous disposez d’un droit d’accès, de rectification, de limitation, de portabilité, et d’effacement de vos données. Vous pouvez exercer ces droits en nous contactant à l'adresse suivante : <a href="mailto:contact@kaelia-formacoach.com" class="hover:underline">contact@kaelia-formacoach.com</a>.
        </p>
      </div>
    </div>
  </section>
</Layout>
