---
import Header from '../components/Header.astro';
---

<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kaelia Forma'Coach - L'accompagnement qui donne du sens</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <style>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');</style>
</head>
  <body class="bg-gray-100">
    <!-- Header appelé ici -->
    <Header />

    <!-- Contenu de la page avec des marges responsive -->
    <main class="container mx-auto p-4 md:p-8">
      <slot />
    </main>
  </body>
</html>
