---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; // Import the Footer component
---

<html lang="fr">
<head>
  	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kaelia Forma'Coach - L'accompagnement qui donne du sens</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <style>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');</style>
</head>
  <body class="bg-white flex flex-col min-h-screen">
    <!-- Header called here -->
    <Header />

    <!-- Page content with responsive margins -->
    <main class="container mx-auto p-4 md:p-8 flex-grow">
      <slot />
    </main>

    <!-- Footer called here -->
    <Footer />
  </body>
</html>
